[user]
	name = Matt Milburn
	email = me@mattmilburn.com

[alias]
	bd = branch -D
	bn = checkout -b
	bp = push -u origin
	br = branch
	co = checkout
	cm = commit -m
	cp = cherry-pick
	df = diff --stat --color
	ls = log --graph --oneline --decorate
	ri = rebase -i
	st = status
